body {
    font-family: Verdana;
    background-color: cornflowerblue;
}
#container {
    width: 800px;
    height: 600px;
    border-radius: 40px;
    background: antiquewhite;
    position: relative;
}
#start_button {
    width: 150px;
    height: 150px;
    background: #82B366;
    border-radius: 150px;
    position: absolute;
}
#displayScore {
    width: 500px;
    height: 40px;
    background: darkgrey;
    border-radius: 40px;
    position: relative;
}
div.ball {
    width: 20px;
    height: 20px;
    background: lawngreen;
    border-radius: 20px;
    position: absolute;
}
div.point {
    height: 24px;
    width: 1px;
    top: -12px;
    background: black;
    position: absolute;
}
div.number {
    top: 70px;
    font-size: 20px;
    position: absolute;
}