body {
    font-family: Verdana;
    background-color: cornflowerblue;
    background-image: linear-gradient(to right, #F9A8FF, #5CD9FF);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#container {
    width: 1000px;
    height: 600px;
    border-radius: 40px;
    background: antiquewhite;
    position: relative;
}
#start_button {
    width: 150px;
    height: 150px;
    left: 425px;
    top: 300px;
    cursor: pointer;
    background: #82B366;
    border-radius: 150px;
    position: absolute;
}
#displayScore {
    width: 500px;
    height: 40px;
    left: 250px;
    top: 20px;
    background: darkgrey;
    border-radius: 40px;
    position: relative;
}
#game_display {
    width: 800px;
    height: 110px;
    border: 25px;
    background: #FFCC99;
    border-radius: 25px;
    left: 100px;
    top: 100px;
    opacity: 0.2;
    position: relative;
}
#line {
    width: 720px;
    height: 1px;
    background: black;
    float: left;
    left: 37px;
    top: 32px;
    position: absolute
}
#home_button {
    left: 406px;
    top: 200px;
    font-size: 30px;
    display: none;
    position: absolute;
}
div.box {
    width: 26px;
    height: 28px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: white;
    display: none;
    border-radius: 5px;
    position: absolute;
}
div.ball {
    width: 20px;
    height: 20px;
    background: lawngreen;
    border-radius: 20px;
    position: absolute;
}
div.point {
    height: 24px;
    width: 1px;
    top: -12px;
    background: black;
    position: absolute;
}
div.number {
    top: 70px;
    font-size: 20px;
    position: absolute;
}